@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.gap-x-1 {
  gap: 0.25rem;
}

.gap-x-2 {
  gap: 0.5rem;
}

.gap-x-3 {
  gap: 0.75rem;
}

.gap-x-8 {
  gap: 2rem;
}

.gap-x-10 {
  gap: 2.5rem;
}

.gap-x-20 {
  gap: 5rem;
}

.gap-y-3 {
  gap: 0.75rem;
}

.gap-y-5 {
  gap: 1.25rem;
}

.overflow-hidden {
  overflow: hidden;
}

.p-3 {
  padding: 0.75rem;
}

.p-5 {
  padding: 1.25rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1.5rem 3rem;
  background-color: hsl(0deg, 0%, 98%);
  transition: all 350ms ease-in-out;
}
@media (max-width: 1100px) {
  main .navbar {
    display: none !important;
  }
}
main nav a {
  color: rgb(105, 105, 105);
  transition: color 200ms ease-out;
}
main nav a:hover {
  color: hsl(0deg, 0%, 8%);
}

.menulist {
  list-style: none;
}
.menulist .features,
.menulist .company {
  position: relative;
  /* if you want to active menu on hover
  &:hover {
    .dropdown-menu {
      display: flex;
    }
  } */
}
.menulist .features .dropdown-menu,
.menulist .features .dropdown-company,
.menulist .company .dropdown-menu,
.menulist .company .dropdown-company {
  display: none;
  position: absolute;
  height: 10rem;
  width: 10rem;
  left: 50%;
  translate: -50% 0;
  top: 100%;
  list-style: none;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.151);
  transition: all 300ms ease-in-out;
}
.menulist .features .dropdown-company,
.menulist .company .dropdown-company {
  display: none;
  height: 8rem;
  width: 8rem;
}

.f-arrow,
.c-arrow,
.f-arrw,
.c-arrw {
  height: 10px;
}

.Join-us li {
  list-style: none;
}
.Join-us .Register {
  border: 2px solid hsl(0deg, 0%, 41%);
  border-radius: 10px;
  padding: 0.4rem 1rem;
  color: hsl(0deg, 0%, 41%);
  line-height: inherit;
  transition: all 200ms ease-out;
}
.Join-us .Register:hover {
  border: 2px solid hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 8%);
}
@media only screen and (max-width: 1100px) {
  .Join-us .Register {
    padding: 0.6rem 1rem;
    border-radius: 15px;
  }
}

.learn {
  position: relative;
  background-color: hsl(0deg, 0%, 8%);
  color: white;
  padding: 0.9rem 1.5rem;
  border-radius: 10px;
  border: 1px solid transparent;
  z-index: 10;
  transition: all 300ms ease-out;
}
.learn:hover {
  background-color: transparent;
  color: hsl(0deg, 0%, 8%);
  border: 1px solid hsl(0deg, 0%, 8%);
}

.sponsers img {
  -o-object-fit: contain;
     object-fit: contain;
}

.left {
  height: 100%;
  flex-basis: 50%;
}
.left h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #141414;
}
.left h1 .block {
  display: block;
}
.left p {
  width: 60%;
  line-height: 1.5rem;
  color: #696969;
}

.right {
  flex-basis: 50%;
}
.right .desktop {
  height: 50rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1100px) {
  .right .desktop {
    display: none;
  }
}

.mobile {
  padding: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
.mobile ul {
  list-style: none;
}
.mobile .menulist {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: white;
  height: 100%;
  width: 70%;
  padding: 5rem 2rem 2rem;
  z-index: 100;
  transition: all 350ms ease-in-out;
}

.control {
  top: 1.5rem;
  right: 1rem;
  z-index: 1000;
  cursor: pointer;
}

.toggle-menu {
  display: flex !important;
  transform: translateX(0%) !important;
  transition: all 350ms ease-in-out;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.534);
  height: 100%;
  width: 100%;
  z-index: 0;
  transition: all 350ms ease-in-out;
}

@media only screen and (min-width: 1100px) {
  .mobile {
    display: none !important;
  }
}

.hero {
  padding: 0 10rem;
}

@media only screen and (max-width: 1100px) {
  .left h1 {
    text-align: center;
  }
  main {
    padding: 0;
  }
  .hero {
    overflow: visible !important;
    padding: 1rem 0 0 !important;
    flex-flow: column-reverse !important;
    flex: 0 0 0 !important;
  }
  .hero .left {
    justify-content: center !important;
    align-items: center !important;
  }
  .hero .left h1 {
    font-size: 2.2rem !important;
    margin-top: 1rem;
  }
  .hero .left h1 span {
    display: inline-block;
  }
  .hero .left p {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  .hero .left button {
    margin-top: 2rem;
  }
  .hero .right {
    padding: 0;
  }
  .hero .right .mobile-hero {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .sponsers {
    margin-top: 4rem !important;
    justify-content: center;
  }
  .sponsers img {
    height: 1rem;
  }
}
@media screen and (min-width: 1100px) {
  .mobile-hero {
    display: none !important;
  }
}

.dropdown-feature,
.dropdown-comp {
  display: none !important;
}
.dropdown-feature img,
.dropdown-comp img {
  -o-object-fit: contain;
     object-fit: contain;
}

.active {
  display: flex !important;
}

.arrow {
  transform: rotate(180deg) !important;
  transition: all 350ms ease-in-out;
}

[role=button],
button {
  cursor: pointer;
}

[type=button],
[type=reset],
[type=submit],
button {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
}/*# sourceMappingURL=style.css.map */